
/* I made some changes for the css */
* {
    margin: 0;
    padding: 0;
}

.logo {
    float: left;
    margin-right: 1em;
    padding-right: 30px;
    padding-left: 30px;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    /* Remove clear: left; */
    width: 800px;
    margin: 0 auto; /* Combined margin properties */
    border: 3px solid #931420;
    background-color: #fffded;
}

/* Background of the HTML page is set to white */
html {
    background-color: white;
}

/* Set bottom border the same as the border around the body */
header {
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background-image: linear-gradient(30deg, #f6bb73 25%, white);
}

header h2 {
    font-size: 170%;
    color: #800000;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

.shadow {
    text-shadow: 2px 2px 2px #800000;
}

/* Deleted left and right padding for the main */
/* Deleted the rule set for the h1 element */

/* Section properties */
main section {
    width: 525px;
    float: right;
    padding: 20px; /* Combined padding properties */
}

/* Aside properties */
main aside {
    width: 215px;
    float: right;
    padding-left: 20px;
    padding: 20px; /* Combined padding properties */
}

/* Changed properties of h2 separately for the h2 elements in both section and aside element */
main section h2,
main aside h2 {
    font-size: 130%;
    color: #800000;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

/* Rule set for the h3 element in the aside element */
main aside h3 {
    font-size: 105%;
    padding-bottom: 0.25em;
}

main img {
    padding-top: 1em; /* Space between image and associated names */
    padding-bottom: 1em;
}

/* Rule set for the img element in the aside element */
main aside img {
    padding-bottom: 1em;
}

main p {
    padding-bottom: 0.5em;
}

.quotes {
    padding-right: 2em;
    padding-left: 2em;
    font-style: italic;
}

main ul {
    padding-bottom: 0.25em;
    padding-left: 1.25em;
}

main li {
    padding-bottom: 0.35em;
}

a:hover, a:focus {
    font-style: italic;
}

/* Footer background-color set the same as the color of the border */
footer {
    background-color: #931420;
    /* Clear property for the footer to clear floating */
    clear: both;
}

footer p {
    text-align: center;
    /* Set the top and bottom padding for the paragraph */
    padding-top: 1em;
    padding-bottom: 1em;
}
    